{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Bug Validation Course</h1>
  <p class="lead">TBienvenidos a este sitio de bug hunting</p>
  <hr class="my-4">
  <p>en este citio podras navegar y encontrar varios bichos, desde los mas obvios hasta uno que otro que ni el mismo desarollador sabe que esta ahi</p>
  <p>sientete en libertad de explorar al rededor</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}