{% extends "layout.html" %}

{% block content %}
<h1>Edit Users</h1>
  <div class="table-responsive-lg">
      <table class="table table-sm table-dark" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">fullname</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">password</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          <tr>
            <td>{{contact.usr_id}}</td>
            <td>{{contact.usr_first_name}} {{contact.usr_last_name}}</td>
            <td>{{contact.usr_email}}</td>
            <td>{{contact.usr_phone_nbr}}</td>
            <td class="hidetext">{{contact.usr_password}}</td>
            <td>
              <a href="/edit/{{contact.0}}" class="btn btn-secondary">edit</a>
              <a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}