{% extends "layout.html" %}

{% block content %}
<h1>List Users</h1>
  <div class="table-responsive-lg">
      <table class="table table-sm table-dark" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" style="max-width: 150px;">fullname</th>
            <th scope="col" style="max-width: 150px;">email</th>
            <th scope="col" style="max-width: 150px;">phone</th>
            <th scope="col" style="max-width: 150px;">password</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          <tr>
            <td style="max-width: 150px;">{{contact.usr_id}}</td>
            <td style="max-width: 150px;">{{contact.usr_first_name}} {{contact.usr_last_name}}</td>
            <td style="max-width: 150px;">{{contact.usr_email}}</td>
            <td style="max-width: 150px;">{{contact.usr_phone_nbr}}</td>
            <td class="hidetext" style="max-width: 150px;">{{contact.usr_password}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}